name: CI
on:
  workflow_call:
    inputs:
      jdk-version:
        description: JDK version
        type: number
        required: true
      gradle-jvm-version:
        description: Gradle version
        type: number
        required: true
      build-arg:
        description: Build args for Gradle
        type: string
        required: false
        default: jar
jobs:
  ci:
    name: Build and Test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: ${{ inputs.jdk-version }}
          distribution: temurin
          cache: gradle
      - name: Set JVM version
        run: |
          if [ -e gradle.properties ]; then
            sed -i -e "s/^jvm_version.*/jvm_version=$GRADLE_JVM_VERSION/g" gradle.properties
          else
            echo "jvm_version=$GRADLE_JVM_VERSION" > gradle.properties
          fi
        env:
          GRADLE_JVM_VERSION: ${{ inputs.gradle-jvm-version }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build
        run: ./gradlew "$BUILD_ARG"
        env:
          BUILD_ARG: ${{ inputs.build-arg }}
      - name: Test
        run: ./gradlew test
      - name: Upload a jar
        uses: actions/upload-artifact@v6
        with:
          name: artifact
          path: ./build/libs/
