name: CI
on:
  workflow_call:
    inputs:
      cache-build-deps-ver:
        type: string
        required: true
      cache-build-outputs-ver:
        type: string
        required: true
      jar-output-dir:
        type: string
        required: true
jobs:
  ci:
    name: Lint and Test
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout codes
        uses: actions/checkout@v6
      - name: Checkout shared actions
        uses: actions/checkout@v6
        with:
          repository: Lucky3028/shared-workflows
          ref: main
          path: .github/actions/shared-workflows
      - name: Setup Java and Cache deps
        uses: ./.github/actions/shared-workflows/.github/actions/setup-scala-sbt-build
        with:
          cache-build-deps-ver: ${{ inputs.cache-build-deps-ver }}
          cache-build-outputs-ver: ${{ inputs.cache-build-outputs-ver }}
      - name: Setup sbt
        uses: sbt/setup-sbt@v1
      - name: Check format with Scalafmt
        run: sbt scalafmtCheckAll
      - name: Check lint with Scalafix
        run: sbt 'scalafix --check'
      - name: Test
        run: sbt test
      - name: Build
        run: sbt assembly
      - name: Upload a jar
        uses: actions/upload-artifact@v4
        with:
          name: artifact
          path: ${{ inputs.jar-output-dir }}
